<div class="col-xs-6 col-sm-12 col-md-10 col-lg-8">
    <dl class="dl-horizontal">
        <dt>E-mail Address</dt>
        <dd data-bind="text: email"></dd>
        <!-- ko if: url -->
        <dt>Url</dt>
        <dd data-bind="text: url"></dd>
        <!-- /ko -->
        <!-- ko if: cloak -->
        <dt>Cloak</dt>
        <dd data-bind="text: cloak"></dd>
        <!-- /ko -->
        <!-- ko if: lastHost -->
        <dt>Last Host</dt>
        <dd data-bind="text: lastHost"></dd>
        <!-- /ko -->
        <!-- ko if: lastQuitMessage -->
        <dt>Last Quit Message</dt>
        <dd data-bind="text: lastQuitMessage"></dd>
        <!-- /ko -->
        <!-- ko if: lastRealname -->
        <dt>Last Real Name</dt>
        <dd data-bind="text: lastRealname"></dd>
        <!-- /ko -->
        <dt>Registered</dt>
        <dd data-bind="text: moment.unix(regTime()).format('Do MMMM YYYY hh:mm') + ' (' + moment.unix(regTime()).fromNow() + ')'"></dd>
        <dt>Cloak Enabled</dt>
        <dd>
            <span data-bind="css: { glyphicon: true, 'glyphicon-ok text-success': cloakEnabled, 'glyphicon-remove text-danger': !cloakEnabled }" aria-hidden="true"></span>
        </dd>
        <dt>Enforce</dt>
        <dd>
            <span data-bind="css: { glyphicon: true, 'glyphicon-ok text-success': enforce, 'glyphicon-remove text-danger': !enforce }" aria-hidden="true"></span>
        </dd>
        <dt>Private</dt>
        <dd>
            <span data-bind="css: { glyphicon: true, 'glyphicon-ok text-success': private, 'glyphicon-remove text-danger': !private }" aria-hidden="true"></span>
        </dd>
        <dt>Secure</dt>
        <dd>
            <span data-bind="css: { glyphicon: true, 'glyphicon-ok text-success': secure, 'glyphicon-remove text-danger': !secure }" aria-hidden="true"></span>
        </dd>
    </dl>
</div>

<script src="/scripts/account/details.js"></script>
