<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>

<script type="text/javascript">
    /* called from onloadCallback, but placed here so recaptchaSitekey is available */
    var renderCaptcha = function() {
        grecaptcha.render('captcha', {
            'sitekey': '{{ recaptchaSitekey }}',
            'callback': verifyCallback,
        });
    };
</script>

<script src='/accountVerify-bundle.js'></script>

<p style="display:none;" data-bind="style: { display: verified() ? 'none' : 'inline' }">
Complete the CATCHA challenge to verify your NickServ account
</p>

<div id="captcha"></div>

<p style="display:none;" data-bind="style: { display: verified() ? 'inline' : 'none' }">Your NickServ account has been verified.
If you're connected to IRC and identified to services, please do '/msg NickServ checkverify' now.</p>
