<h1>OFTC IRC Services</h1>

<p>
Welcome to <a href="https://www.oftc.net/">OFTC's</a> IRC Services web front end.
</p>

<p>
You can review your <a href="/account">NickServ account</a> here.
To be able to use the generic <a href="https://www.oftc.net/UserCloaks/">user cloaks</a>,
head to <a href="/account/verify">the verification page</a>.
</p>

<p>
This is a read-only front end for NickServ and ChanServ. To configure your nick
and channel settings, use the IRC commands <code>/msg nickserv</code> and
<code>/msg chanserv</code>. Help on the individual settings is available as
well, e.g. <code>/msg nickserv help set enforce</code>.
</p>
