<h1>OFTC IRC Services</h1>

<p>
Welcome to <a href="https://www.oftc.net/">OFTC's</a> IRC Services web front end.
<a href="/login">Log in</a> using your NickServ password.
</p>

<p>
To be able to use the generic <a href="https://www.oftc.net/UserCloaks/">user cloaks</a>,
<a href="/login">log in</a> and head to <em>Account</em> -&gt; <em>Verify</em>.
</p>

<p>
This is a read-only front end for NickServ and ChanServ. To configure your nick
and channel settings, use the IRC commands
<code style="white-space: nowrap">/msg nickserv</code> and
<code style="white-space: nowrap">/msg chanserv</code>.
Help on the individual settings is available as well, e.g.
<code style="white-space: nowrap">/msg nickserv help set enforce</code>.
</p>
