<h1>OFTC IRC Services</h1>

<p>
Welcome to <a href="https://www.oftc.net/">OFTC's</a> IRC Services web front end.
<a href="/login">Log in</a> using your NickServ password.
</p>

<p>
This is a read-only front end for NickServ and ChanServ. To configure your nick
and channel settings, use the IRC commands
<code style="white-space: nowrap">/msg nickserv</code> and
<code style="white-space: nowrap">/msg chanserv</code>.
Help on the individual settings is available as well, e.g.
<code style="white-space: nowrap">/msg nickserv help set enforce</code>.
</p>

<p>
To <b>verify your account</b>,
<ul>
<li><a href="/login">log in</a> using your NickServ password,</li>
<li>head to <em>Account</em> -&gt; <a href="/account/verify"><em>Verify</em></a>, and</li>
<li>complete the CAPTCHA there to prove you are not a robot. (If you can't see it, you've blocked access to Google websites.)</li>
</ul>
This step is required to fully enable your NickServ account.
<ul>
<li>You can join +R channels.</li>
<li>You can "link" nicks.</li>
<li>You can use the generic <a href="https://www.oftc.net/UserCloaks/">user cloaks</a>.</li>
</ul>
</p>

<p>
This site requires JavaScript. If you have trouble using the site, in
particular with verifying your NickServ account, please mail
<em>support@oftc.net</em> for assistance, or ask in the <em>#oftc</em> channel.
</p>
